<p class="m-5 h4">Historial de Consultas</p>

<div class="text-right">
    <a href="#" class="btn btn-outline-danger btn-sm">Regresar</a>
</div>

<div class="row my-5">
    <div class="col-md-12">
        <div class="table table-borderless">
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Carrera</th>
                        <th>Curso</th>
                        <th>Fecha</th>
                    </tr>
                    
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>Sistemas</td>
                        <td>Taller Proyecto - 1</td>
                        <td>2018-09-12</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
