<div class="container container-fluid m-5">
    <div class="row">
        <div class="col">
            <form>
                <h4>Calificar Docente</h4>
                <hr>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>Nombre del Curso :</label>
                    </div>
                    <div class="col-md-4">
                        <label class="h6">[Nomnre del curso]</label>
                    </div>
                    <div class="col-md-2">
                        <label>Nombre del Curso :</label>
                    </div>
                    <div class="col-md-4">
                        <label class="h6">[Nomnre del curso]</label>
                    </div>
                </div>

                <div class="form-group row my-5 ">
                    <div class="col-md-12">
                        <div class="table table-responsive-sm">
                            <table class="table table-bordered">
                                <caption>List of usersa</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Criterio [1]</th>
                                        <th scope="col">Criterio [2]</th>
                                        <th scope="col">Criterio [3]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <input type="number" value="0" class="form-control" />
                                        </th>

                                        <td>
                                            <input type="number" value="0" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="number" value="0" class="form-control" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="form-group form-row">
                        <p class="h5">
                            Comentario
                        </p>

                    <textarea class="form-control col-md-auto">
                        
                        </textarea>

                </div>



                <div class="container container-fluid text-center">
                    <button type="button" class="btn btn-outline-danger w-25">Atras</button>
                    <button type="button" class="btn btn-outline-success w-25">Calificar</button>
                </div>

                
            </form>
        </div>
    </div>
  

</div>