
<div class="row m-1">

    <div class="col-md-12">
        <div class="container-fluid m-5">
            <form>
                <h4>Datos del  Docente</h4>
                <hr>
                <div class="form-group form-row">
                    <div class="col-md-3">
                        <label>Nombres y Apellidos :</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" placeholder="Nombre" class="form-control col-md-auto" />
                    </div>
                </div>

                <div class="form-group form-row">
                    <div class="col-md-3">
                        <label>Carrera :</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control ">
                            <option value="null" selected>Elige una Curso</option>
                            <option>TP-1</option>
                            <option>TP-2</option>
                            <option>Desarrollo Movil</option>
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-auto">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Curso</th>
                                    <th>Carrera</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Taller P-1</td>
                                    <td>Ing. Sistemas</td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option1">

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arq. Software</td>
                                    <td>Ing. Sistemas</td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option3">

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Inv. de Operaciones-II</td>
                                    <td>Ing. Industrial</td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option2">

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <div class="container">
                            <a href="#" class="btn btn-secondary btn-sm d-md-table m-5"> >> </a>
                            <a href="#" class="btn btn-secondary btn-sm d-md-table m-5"> << </a>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <table class="table table-striped">
                            <thead class="thead">
                                <tr>
                                    @*<th scope="col">(#)Numero</th>*@
                                    <th scope="col">Curso</th>
                                    <th scope="col">Carrera</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Taller P-1</td>
                                <td>Ing. Sistemas</td>
                                @*<td>Ing. Sistemas</td>*@
                            </tr>
                        </table>
                    </div>
                </div>

                <p class="text-sm-right m-4">
                    <h5><strong>(*) Todos los campos son obligatorios</strong></h5>
                </p>
                <div class="container text-center w-100">
                    <button type="button" class="btn btn-danger btn-lg">Sugerir</button>
                </div>

            </form>



        </div>
    </div>
</div>
